<!-- HEAD -->
<%- include ../parts/head.ejs %>

<!-- MAIN NAV -->
<%- include ../parts/nav.ejs %>

<!-- BODY CONTENT -->
<main>
    
    <%- include ../parts/header.ejs %>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m10">
                    <ul class="collection with-header">
                        <% years.forEach(function(el){ %>
                            <li class="collection-item <% if(currentYear == el.ID){ %>active<% } %>">
                                <div>
                                    <!--
                                    <% if(el.active == "false"){ %>
                                        <i class="material-icons normal-font">visibility_off</i>
                                    <% }else{ %>
                                        <i class="material-icons normal-font">visibility</i>
                                    <% } %>
                                    -->
                                    <%= el.title %>
                                    <a href="/cms/curriculum/overview/<%= el.ID %>" class="secondary-content">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container total-overview-container">
            <!-- BLOCKS -->


<%

var blockRowIterator = 0
var blockColumnIterator = 0
var contentBlockIterator = 0

%>
<% yearView.forEach(function(year,index){ %>
<% var data = JSON.parse(year.data) %>

    <% if(data == null){return}; %>
    <% data.rows.forEach(function(row,row_index){ %>
    <% blockRowIterator++ %>
    <div class="row block-row-container" id="block_row_container_<%= blockRowIterator %>">
        <div class="col s10">
            <div class="row block-row">


                <% row.forEach(function(column,column_index){ %>
                <% blockColumnIterator++ %>

                    <div class="col s12 m3 block-row-column" id="row_container_<%= blockColumnIterator %>">
                        <div class="overview-container">
                            <ul class="block-container collection with-header" id="block-container_<%= blockColumnIterator %>">

                                <% column.column.forEach(function(block,block_index){ %>
                                <% contentBlockIterator++ %>
                                <li class="collection-item block-content" data-id="<%= contentBlockIterator %>" style="background-color:#<%= block.color %>;" id="block_content_<%= contentBlockIterator %>">
                                    <div class="inner-block-content">
                                        <span class="data-title-container">
                                            <span id="data_title_<%= contentBlockIterator %>" class="data-title"><%= block.title %></span>
                                            <% if(block.image != 'undefined' && block.image.length > 1){ %><i class="material-icons normal-font">video_library</i><% } %>
                                        </span>
                                        <a data-id="<%= contentBlockIterator %>" href="#" class="secondary-content edit_block"><i class="material-icons">edit</i></a>
                                        <a data-id="<%= contentBlockIterator %>" href="#" class="secondary-content move_block"><i class="material-icons">open_with</i></a>
                                    </div>
                                </li>
                                <div class="hide hidden" id="block_html_<%= contentBlockIterator %>"><%= block.content %></div>
                                <div class="hide hidden" id="block_color_<%= contentBlockIterator %>"><%= block.color %></div>
                                <div class="hide hidden" id="block_image_<%= contentBlockIterator %>"><%= block.image %></div>
                                <div class="hide hidden" id="block_category_<%= contentBlockIterator %>"><%= block.category %></div>
                                <% }) %>

                            </ul>
                            <div class="action-btn-container">
                                <div class="fixed-action-btn horizontal relative-action-btn">
                                    <a class="btn-floating btn-large blue"> <i class="large material-icons">menu</i> </a>
                                    <ul>
                                        <li><a class="btn-floating blue move_sub_column move" data-id="<%= blockColumnIterator %>"><i class="material-icons">open_with</i></a></li>
                                        <li><a class="btn-floating red delete_column" data-id="<%= blockColumnIterator %>"><i class="material-icons">delete</i></a></li>
                                        <li><a class="btn-floating green add_sub_column" data-id="<%= blockColumnIterator %>"><i class="material-icons">add</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                <% }) %>


            </div>
        </div>
        <!-- <div class="col s2"> <a class="btn-floating btn-large waves-effect waves-light green add-block-container" id=""><i class="material-icons">add</i></a> </div> -->
        <div class="col s2 relative">
            <div class="action-btn-container">
                <div class="fixed-action-btn horizontal relative-action-btn-add-row">
                    <a class="btn-floating btn-large green waves-effect waves-light green add-block-container"> <i class="large material-icons">add</i> </a>
                    <ul>
                        <li><a class="btn-floating red delete_row" data-id="<%= blockRowIterator %>"><i class="material-icons">delete</i></a></li>
                        <li><a class="btn-floating blue move_row move" data-id="<%= blockRowIterator %>"><i class="material-icons">open_with</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% }) %>


<% }) %>


        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a class="btn-floating btn-large waves-effect waves-light green" id="add-block-row-container"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
</main>   


<!-- Modal Structure -->
<div id="edit_block" class="modal">
    <!-- <form action="/cms/curriculum/edit_block" method="post"> -->
        <div class="modal-content">
            <div class="image-header">
                <h4>Edit block</h4>
            </div>
            <div class="row">
                <div class="col s12 m8 l4">
                    <input type="text" class="block_title" id="block_title" name="block_title">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <form action="" id="formContent" method="post" enctype="multipart/form-data" >
                        <label for="upload">Header image</label>
                        <input  type="file" name="file"  required id="upload">
                        <!-- <button class="submitI" >Upload Image</button>  -->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                      <div class="input-field col s12">
                        <select id="color_choise">
                          <option value="" disabled selected>Choose your option</option>
                          <% types.forEach(function(el){ %>
                              <option value="<%= el.color %>"><%= el.title %></option>
                          <% }) %>
                        </select>
                        <label>Type</label>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="input-field col s12">
                        <select multiple id="category_choise">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="design">Design</option>
                            <option value="code">Code</option>
                            <option value="interaction">Interaction</option>
                        </select>
                        <label>Choose categories</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="standalone-container">
                        <div id="toolbar-container">
                            <span class="ql-formats">
                                <select class="ql-font"></select>
                                <select class="ql-size"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <!-- <button class="ql-underline"></button> -->
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                            </span>
                            <span class="ql-formats">
                            <button class="ql-header" value="1"></button>
                            <button class="ql-header" value="2"></button>
                            <button class="ql-blockquote"></button>
                            <button class="ql-code-block"></button>
                            </span>
                            <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                            </span>
                            <span class="ql-formats">
                            <button class="ql-direction" value="rtl"></button>
                            <select class="ql-align"></select>
                            </span>
                            <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-video"></button>
                            <button class="ql-formula"></button>
                            </span>
                            <span class="ql-formats">
                            <button class="ql-clean"></button>
                            </span>
                        </div>
                        <div id="editor-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat left" id="remove_block">Remove</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat save" id="save_block">Save</a>
        </div>
    <!-- </form> -->
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large green darken-1 waves-effect waves-light" id="save_view">
        <i class="large material-icons">save</i>
    </a>
</div>


<!-- FOOTER -->
<%- include ../parts/footer.ejs %>

<!-- SCRIPTS -->
<%- include ../parts/scripts.ejs %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>

<script type="text/javascript" src="https://cdn.rawgit.com/jackmu95/52b82e3ec79a2e2a30ddf37e71846711/raw/e1742e6e1b7ab73807c313c04e7b63f96f15c43b/quill.min.js"></script>
<!-- <script type="text/javascript" src="/cms/js/quill.min.js"></script> -->

<script>
    vars = {
        blockRowIterator: <%= blockRowIterator+1 %>,
        blockColumnIterator: <%= blockColumnIterator+1 %>,
        contentBlockIterator: <%= contentBlockIterator+1 %>,
        currentYear : <%= currentYear %>
    }
</script>

<script src="/cms/js/curriculum.js"></script>

<!-- END -->
<%- include ../parts/end.ejs %>