<!-- HEAD -->
<%- include ../parts/head.ejs %>

<!-- MAIN NAV -->
<%- include ../parts/nav.ejs %>

<!-- BODY CONTENT -->
<main>
    
    <%- include ../parts/header.ejs %>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m10">
                    <h2 class="header">How does this work?</h2>
                    <p>This is the curriculum website from Communication Multimedia Design reinvented. The old website, (cmd-amsterdam.nl/curriculum) is difficult to maintain. With this CMS the curriculum can be maintained easily, everywhere! There is an special url for exposing the curriculum website on the touch table. This website is touch table friendly!</p>
                    <p>This app is a NodeJS driven CMS where all interested users can see the whole curriculum for a study. In the back-end users can add new years, make custom labels, and make years that will automatically will be rendered to the front-view of the application. All the inserted data will be converted to a fully responsive curriculum. The curriculum is designed for all devices. The font-view is touch friendly, fast, responsive and works on every device.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m8">
                    <a class="waves-effect waves-light btn blue" target="_blank" href="https://github.com/royvanderzon/cmd-curriculum"><i class="material-icons left">cloud</i>Github</a>
                    <a class="waves-effect waves-light btn" target="_blank" href="http://www.widesi-webdesign.nl"><i class="material-icons left">link</i>Need another custom application?</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                    <h2 class="header">How to install?</h2>
                    <ol>
                        <li>clone repo $ git clone THIS_REPO</li>
                        <li>cd to cloned repo $ cd TO_CLONED_REPO</li>
                        <li>set envoirement variables nano .env</li>
                        <li>run $ npm install</li>
                        <li>run $ nodemon app.js</li>
                    </ol>
                    <div class="divider"></div>
                    <h3>Setup PM2</h3>
                    <p><em>PM2 is the way to deploy this app to a online production server</em></p>
                </div>
            </div>
        </div>
    </div>
</main>   

<!-- FOOTER -->
<%- include ../parts/footer.ejs %>

<!-- SCRIPTS -->
<%- include ../parts/scripts.ejs %>

<!-- END -->
<%- include ../parts/end.ejs %>

