<!-- HEAD -->
<%- include ../parts/head.ejs %>

<!-- MAIN NAV -->
<%- include ../parts/nav.ejs %>

<!-- BODY CONTENT -->
<main>
    
    <%- include ../parts/header.ejs %>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m10">
                    <h2 class="header">How does this work?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet et sint, reiciendis quibusdam fuga, cum. Laboriosam exercitationem molestias beatae eos pariatur, similique, excepturi mollitia sit perferendis maiores ratione aliquam?</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                    <% //= content.content %>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                    <p>It's simple, ask us a demo or buy us some coffee!</p>
                </div>
                <div class="col s12 m6">
                    <a class="waves-effect waves-light btn blue" href="#"><i class="material-icons left">thumb_up</i>coffee</a>
                    <a class="waves-effect waves-light btn" href="#"><i class="material-icons left">cloud</i>demo</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10">
                    <h2 class="header">Some other info..</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi eum, nulla deleniti sit accusantium libero cumque, alias est sapiente fuga consequatur ut repellat optio minus veritatis illum, dolorem magnam nostrum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi eum, nulla deleniti sit accusantium libero cumque, alias est sapiente fuga consequatur ut repellat optio minus veritatis illum, dolorem magnam nostrum.</p>
                    <div class="divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi eum, nulla deleniti sit accusantium libero cumque, alias est sapiente fuga consequatur ut repellat optio minus veritatis illum, dolorem magnam nostrum.</p>
                </div>
            </div>
        </div>
    </div>
</main>   

<!-- FOOTER -->
<%- include ../parts/footer.ejs %>

<!-- SCRIPTS -->
<%- include ../parts/scripts.ejs %>

<!-- END -->
<%- include ../parts/end.ejs %>

