<!-- HEAD -->
<%- include ../parts/head.ejs %>

<!-- MAIN NAV -->
<%- include ../parts/nav.ejs %>

<!-- BODY CONTENT -->
<main>
    
    <%- include ../parts/header.ejs %>

    <div class="section"></div>
    <div class="section"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 m10">
                <div class="row">

                <% for(var i = 0;i<tableSettings.titles.length;i++){ %>
                    <!-- <li><a class="toggle-vis" data-column="<%= i %>"><%= tableSettings.titles[i].title %></a></li> -->
                    <div class="col s4 m3 l2">
                        <input type="checkbox" class="filled-in toggle-vis" data-column="<%= i %>" id="filterbox_<%= i %>" <% if(i> 0 && i < 4){%>checked="checked"<%};%> />
                        <label for="filterbox_<%= i %>"><%= tableSettings.titles[i].title %></label>
                    </div>
                <% } %>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m10">
                <table id="userList" class="display responsive-table striped" width="100%"></table>
            </div>
        </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red" href="#add_user">
            <i class="large material-icons">add</i>
        </a>
        <!-- <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul> -->
    </div>

</main> 

<!-- Modal Structure -->
<div id="add_user" class="modal">
    <form method="post" action="/cms/users/add_user">
        <div class="modal-content">
            <div class="col s12">
                <h4>Add new user</h4>
            </div>
            <div class="divider"></div>
            <div class="section"></div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input placeholder="Placeholder" id="new_email" name="new_email" type="email" class="validate" value="" required>
                    <label for="new_email">Email</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="new_name" name="new_name">
                        <% for(var i = 0;i<roles.length;i++){ %>
                        <option value="<%= roles[i].ID %>" name="<%= roles[i].name %>"><%= roles[i].name %></option>
                        <% }; %>
                    </select>
                    <label for="new_name">Role</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="John" id="new_username" name="new_username" type="text" class="validate" value="" required>
                    <label for="new_username">Username</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Doe" id="new_firstname" name="new_firstname" type="text" class="validate" value="" required>
                    <label for="new_firstname">Fistname</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Doe" id="new_lastname" name="new_lastname" type="text" class="validate" value="" required>
                    <label for="new_lastname">Lastname</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="06 12345678" id="new_mobile" name="new_mobile" type="text" class="validate" value="">
                    <label for="new_mobile">Mobile</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action waves-effect waves-green green white-text btn-flat">Add</button>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </form>
</div>

<!-- Modal Structure -->
<div id="add_modal" class="modal modal-fixed-footer">
    <form method="post" action="/cms/users/edit_user">
        <div class="modal-content">
            <div class="col s12">
                <h4>ID <span id="edit_user" class="html_ID"></span></h4>
            </div>
            <div class="divider"></div>
            <div class="section"></div>
            <div class="row">
                <input type="hidden" id="input_ID" class="input_ID" name="input_ID">
                <div class="input-field col s12 m6">
                    <input placeholder="Placeholder" id="input_email" name="input_email" type="email" class="validate" value="" required>
                    <label for="input_email">Email</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="input_name" name="input_name">
                        <option value="" disabled selected>Choose user role</option>
                        <% for(var i = 0;i<roles.length;i++){ %>
                        <option value="<%= roles[i].ID %>" name="<%= roles[i].name %>"><%= roles[i].name %></option>
                        <% }; %>
                    </select>
                    <label for="input_name">Role</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="John" id="input_username" name="input_username" type="text" class="validate" value="" required>
                    <label for="input_username">Username</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Doe" id="input_firstname" name="input_firstname" type="text" class="validate" value="" required>
                    <label for="input_firstname">Fistname</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Doe" id="input_lastname" name="input_lastname" type="text" class="validate" value="" required>
                    <label for="input_lastname">Lastname</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="06 12345678" id="input_mobile" name="input_mobile" type="text" class="validate" value="">
                    <label for="input_mobile">Mobile</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <div class="waves-effect waves-red white-text red btn-flat left" id="delete_user">Remove</div> -->
            <!-- <a class="waves-effect waves-light btn" href="#modal1">Modal</a> -->
            <a href="#remove_modal" class="modal-action modal-close waves-effect left waves-green btn-flat">Remove</a>
            <a href="#resetpass_modal" class="modal-action modal-close waves-effect left waves-green btn-flat">Reset password</a>
            <button class="modal-action waves-effect waves-green white-text right green btn-flat" type="submit">Save</button>
        </div>
    </form>
</div>

<!-- Modal Structure -->
<div id="remove_modal" class="modal">
    <form method="post" action="/cms/users/remove_user">
        <div class="modal-content">
            <h4>Delete user (<span class="html_ID"></span>)</h4>
            <p>Are you sure you want to delete <i><span class="html_email"></span></i> permanently?</p>
            <p class="red-text"><strong>This can't be undone.</strong></p>
            <input type="hidden" id="remove_input_ID" class="input_ID" name="remove_input_ID">
        </div>
        <div class="modal-footer">
            <button type="submit" class=" modal-action waves-effect waves-red red white-text btn-flat">Delete</button>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </form>
</div>

<!-- Modal Structure -->
<div id="resetpass_modal" class="modal">
    <form method="post" action="/cms/users/resetpass_user">
        <div class="modal-content">
            <h4>Reset password of user (<span class="html_ID"></span>)</h4>
            <p>Are you sure you want to reset the password from <i><span class="html_email"></span></i> ?</p>
            <p class="red-text"><strong>This can't be undone.</strong></p>
            <div class="input-field col s12 m12">
                <input id="input_password" name="input_password" type="password" class="validate" value="" required>
                <label for="input_password">Password</label>
            </div>
            <div class="input-field col s12 m12">
                <input id="re_input_password" name="re_input_password" type="password" class="validate" value="" required>
                <label for="re_input_password">Retype password</label>
            </div>
            <input type="hidden" id="resetpass_input_ID" class="input_ID" name="resetpass_input_ID">
        </div>
        <div class="modal-footer">
            <button type="submit" class=" modal-action waves-effect green white-text waves-green btn-flat">Save</button>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </form>
</div>


<!-- FOOTER -->
<%- include ../parts/footer.ejs %>

<!-- SCRIPTS -->
<%- include ../parts/scripts.ejs %>

    
    <script>

        var users = <%- JSON.stringify(users) %>;

        var dataSet = [];
        var skipPush = false;

        for(var i = 0;i<users.length;i++){

            // console.log(users[i].mailInvite.active);

            if (typeof users[i].mailInvite != "undefined") {
                if(users[i].mailInvite.active == false){
                    skipPush = true;
                }else{
                    skipPush = false;
                }
            }else{
                skipPush = false;
            }


            if(!skipPush){

                var array = [];

                array.push(users[i].ID);
                array.push(users[i].email);
                array.push(users[i].name);
                array.push(users[i].username);

                array.push(users[i].firstname);
                array.push(users[i].lastname);
                array.push(users[i].mobile);

                // array.push(users[i].birthdate);
                // array.push(users[i].adress_number + ' ' + users[i].adress_street);
                // array.push(users[i].zip);
                // array.push(users[i].city);
                // array.push(users[i].country);

                dataSet.push(array);
            }
        }

        $(document).ready(function() {
            var table = $('#userList').DataTable( {
                data: dataSet,
                columns: <%- JSON.stringify(tableSettings.titles) %>,
                columnDefs: [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": true
                    },{
                        "targets": [ 1 ],
                        "visible": true
                    },{
                        "targets": [ 2 ],
                        "visible": true
                    },{
                        "targets": [ 3 ],
                        "visible": true
                    },{
                        "targets": [ 4 ],
                        "visible": false
                    },{
                        "targets": [ 5 ],
                        "visible": false
                    },{
                        "targets": [ 6 ],
                        "visible": false
                    }
                    // ,{
                    //     "targets": [ 7 ],
                    //     "visible": false
                    // },{
                    //     "targets": [ 8 ],
                    //     "visible": false
                    // },{
                    //     "targets": [ 9 ],
                    //     "visible": false
                    // },{
                    //     "targets": [ 10 ],
                    //     "visible": false
                    // },{
                    //     "targets": [ 11 ],
                    //     "visible": false
                    // }
                ]
            });

            $('#userList tbody').on('click', 'tr', function () {
                var data = table.row( this ).data();
                // alert( 'You clicked on '+data[0]+'\'s row' );

                $('.html_ID').html(data[0]);
                $('.html_email').html(data[1]);


                $('.input_ID').val(data[0]);
                $('#input_email').val(data[1]);
                // $('#input_name').val(data[2]);
                // $('#input_name option[name='+data[2]+']').prop('selected', true);
                // console.log($('#input_name option'))
                // console.log($('#input_name option').removeAttr('selected').filter('[name='+data[2]+']'))
                // var role_value = $('#input_name option').removeAttr('selected').filter('[name='+data[2]+']').val();
                var role_value = $('#input_name option').filter('[name='+data[2]+']').val();
                console.log(role_value)
                console.log(data[2])
                $('#input_name').val(role_value);
                $('#input_name').material_select();

                $('#input_username').val(data[3]);
                $('#input_firstname').val(data[4]);
                $('#input_lastname').val(data[5]);
                $('#input_mobile').val(data[6]);

                // $("input[name=gender]").removeAttr('checked');
                // $("input[name=gender][value='"+data[6]+"']").prop("checked",true);

                // $('.country_option').removeAttr('selected');
                // $('._'+(data[7].replace(/\s+/g, ''))).attr('selected','selected');

                // $('#city').val(data[8]);
                // $('#number').val(data[9]);
                // $('#adress').val(data[10]);
                // $('#zip').val(data[11]);

                $('#add_modal').modal('open');
            });

            $('.toggle-vis').on('change',function(e){

                // console.log($(this).is(":checked"));

                var column = table.column( $(this).attr('data-column') );
                if($(this).is(":checked")){
                    column.visible(false);
                }else{
                    column.visible(true);
                }

                // Get the column API object
                var column = table.column( $(this).attr('data-column') );
                // Toggle the visibility
                column.visible( ! column.visible() );

            })

            $('.toggleProfile').on( 'click', function (e) {
                e.preventDefault();
                $('.showMore').slideToggle('slow');
            });

            $('.toggleRemoveField').click(function(){
                $('.removeField').slideToggle();
            });

            $('.modal').modal();
            $('select').material_select();

        });
    </script>

<!-- END -->
<%- include ../parts/end.ejs %>

