<%
function getContrastYIQ(hexcolor){
    var r = parseInt(hexcolor.substr(0,2),16);
    var g = parseInt(hexcolor.substr(2,2),16);
    var b = parseInt(hexcolor.substr(4,2),16);
    var yiq = ((r*299)+(g*587)+(b*114))/1000;
    return (yiq >= 128) ? 'black' : 'white';
}
function getContrast50(hexcolor){
    if(hexcolor){
        return (parseInt(hexcolor, 16) > 0xffffff/2) ? 'black':'white';
    }else{
        return 'black'
    }
}
function getExcerpt(string){
    if(string.length >= 30){
        string = string.slice(0,30) + '...'
    }
    return string
}
function hasContent(item){
    if(typeof item.content === 'undefined') return false
    var content = JSON.parse(item.content)
    if(typeof content.ops === 'undefined') return false

    if(content.ops[0].insert == '\n'){
        return false
    }else{
        return true
    }
}
%>
<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= settings.options.application_name %></title>

    <link rel="stylesheet" href="/site/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <!-- <link href="/site/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/site/css/main.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

            <nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="<%= settings.options.application_logo %>" alt="" class="responsive logo">
                            <h1 class="text-center"><%= settings.options.application_name %></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="view-controls">
                            <button class="view-button" data-view="list">LIST</button> | <button class="view-button pressed" data-view="table">TABLE</button>
                        </div>
                    </div>
                </div>
                <ul>
                    <% years.forEach(function(year,index){ %>
                    <% if(year.active == 'false') return; %>
                    <% //if(year.data === null) return; %>
                    <li id="menu_item_<%= year.ID %>" class="menu-item">
                        <div class="nav-item">
                            <% if(year.path == 'false'){ %>
                                <img src="/site/images/icon.png" alt="link icon">
                            <% }else{ %>
                                <img src="/uploads/curriculum/<%= year.path %>" alt="link icon">
                            <% } %>
                            <a href="#year_container_<%= year.ID %>"><%= year.title %></a>
                        </div>
                    </li>
                    <% }) %>
                    <li id="menu_item_legenda" class="menu-item">
                        <div class="nav-item">
                            <img src="/site/images/sign.png" alt="link icon">
                            <a href="#year_container_legenda">LEGENDA</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <main>

                <div class="container max-container">
                    <div class="row">
                        <div class="col-xs-12 curriculem-wrapper">
                            
                            <% years.forEach(function(year,indexYear){ %>
                                <% if(year.data === null) return; %>
                                <% if(year.active == 'false') return; %>
                                <% year.data = JSON.parse(year.data) %>
                                <div class="curriculem-container" id="year_container_<%= year.ID %>">

                                    <div class="curriculum-inner">
                                        <div class="curriculem-row curriculum-header">
                                            <div class="header-inner">
                                                <h2><%= year.title %></h2>
                                                <p><%= year.description %></p>
                                            </div>
                                        </div>

                                        <% year.data.rows.forEach(function(row,indexRow){ %>
                                        <div class="curriculem-row">


                                            <% row.forEach(function(column,indexColumn){ %>
                                                
                                                <div class="curriculem-column">
                                                    <%
                                                    var totalItems = column.column.length
                                                    var percentHeight = 100 * 1 / totalItems
                                                    %>
                                                    <% column.column.forEach(function(item,indexItem){ %>
                                                        <!-- height:<%= percentHeight %>%; -->


                                                        <div class="curriculem-item color-<%= getContrast50(item.color) %> <% if(hasContent(item)){ %>item-modal<% } %> <% if(item.title.length < 1){ %>empty-curriculem-item<% } %>" data-id="<%= (indexYear + '-' + indexRow + '-' + indexColumn + '-' +  indexItem) %>" style="background-color:#<%= item.color %>;">
                                                            <span><%= getExcerpt(item.title) %></span>
                                                            <% if(hasContent(item)){ %><a class="info-icon bg-color-<%= getContrast50(item.color) %>" style="color:#<%= item.color %>;">i</a><% } %>
                                                        </div>
                                                    <% }) %>
                                                </div>

                                            <%}) %>

                                        </div>
                                        <% }) %>

                                    </div>
                                </div>
                            <% }) %>

                            <!-- LEGENDA -->
                            <div class="curriculem-container" id="year_container_legenda">
                                <div class="curriculum-inner">
                                    <div class="curriculem-row curriculum-header">
                                        <div class="header-inner">
                                            <h2>Legenda</h2>
                                            <ul class="types_explanation">
                                                <% types.forEach(function(type){ %>
                                                    <li class="color-<%= getContrast50(type.color) %>" style="background-color:#<%= type.color %>;"><%= type.title %></li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <% if(slider.length > 0){ %>
                <div class="slider-container">
                    <div class="slider-bar">
                        <a class="hide-slides">Bekijk curriculum</a>
                    </div>
                    <ul id="slides">
                        <!-- <li class="slide showing">Slide 1</li> -->
                        <% slider.forEach(function(slide,index){ %>
                            <% if(slide.active == 'true'){ %>
                                <li class="slide" style="background-image:url('/uploads/slider/<%= slide.path %>');"></li>
                            <% } %>
                        <% }) %>
                    </ul>
                </div>
                <% } %>

            </main>
        </div>
    </div>

    <div class="modal hide">
        <div class="overlay"></div>
        <main>
            <header>
                <h2>Modal title</h2>
            </header>
            <div class="content"></div>
        </main>
    </div>

    <script>
        var years = <%- JSON.stringify(years) %>
        var types = <%- JSON.stringify(types) %>
        console.log(types)
        <% if(slider.length > 0){ %>
        var sliderTimeout =  Number('<%= settings.options.slider_activity %>')
        var slideActive = true
        <% }else{ %>
        var slideActive = false
        <% } %>
    </script>

    <script type="text/javascript" src="https://cdn.rawgit.com/jackmu95/52b82e3ec79a2e2a30ddf37e71846711/raw/e1742e6e1b7ab73807c313c04e7b63f96f15c43b/quill.min.js"></script>

    <!-- SCRIPTS -->
    <!-- <script src="/site/js/jquery.js"></script> -->
    <!-- <script src="/site/js/bootstrap.min.js"></script> -->
    <script src="/site/js/smoothscroll.js"></script>
    <script src="/site/js/wiquery.js"></script>
    <script src="/site/js/main.js"></script>
    <!-- <script src="/site/js/app.bundle.js"></script> -->

</body>

</html>