<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <link rel="stylesheet" href="/site/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="/site/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/site/css/main.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

            <nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="/site/images/logo.png" alt="" class="responsive logo">
                            <h1 class="text-center">CMD CURRICULEM</h1>
                        </div>
                    </div>
                </div>
                <ul>
                    <% years.forEach(function(el){ %>
                    <li>
                        <div class="nav-item">
                            <img src="/site/images/icon.png" alt="link icon">
                            <!-- <%= JSON.stringify(el) %> -->
                            <a href="#<%= el.ID %>"><%= el.title %></a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </nav>

            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            
                            <div class="curriculem-container">
                                <div class="curriculem-row">
                                    <div class="curriculem-item">
                                    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/site/js/jquery.js"></script>
    <script src="/site/js/bootstrap.min.js"></script>
    <script src="/site/js/main.js"></script>

</body>

</html>



<!-- HEAD -->
<%- include ../parts/head.ejs %>

<!-- HEADER -->
<%- include ../parts/header.ejs %>

<!-- MAIN NAV -->
<%- include ../parts/nav.ejs %>

<!-- FOOTER -->
<%- include ../parts/footer.ejs %>

<!-- SCRIPTS -->
<%- include ../parts/scripts.ejs %>

<!-- END -->
<%- include ../parts/end.ejs %>
