<%
function getContrastYIQ(hexcolor){
    var r = parseInt(hexcolor.substr(0,2),16);
    var g = parseInt(hexcolor.substr(2,2),16);
    var b = parseInt(hexcolor.substr(4,2),16);
    var yiq = ((r*299)+(g*587)+(b*114))/1000;
    return (yiq >= 128) ? 'black' : 'white';
}
function getContrast50(hexcolor){
    if(hexcolor){
        return (parseInt(hexcolor, 16) > 0xffffff/2) ? 'black':'white';
    }else{
        return 'black'
    }
}
function getExcerpt(string){
    if(string.length >= 30){
        string = string.slice(0,30) + '...'
    }
    return string
}
function hasContent(item){
    if(typeof item.content === 'undefined') return false
    var content = JSON.parse(item.content)
    if(typeof content.ops === 'undefined') return false

    if(content.ops[0].insert == '\n'){
        return false
    }else{
        return true
    }
}
%>
<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= settings.page.application_name %></title>

    <link rel="stylesheet" href="/site/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <!-- <link href="/site/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/site/css/main.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

            <nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="/site/images/logo.png" alt="" class="responsive logo">
                            <h1 class="text-center">CMD CURRICULEM</h1>
                        </div>
                    </div>
                </div>
                <ul>
                    <% years.forEach(function(year){ %>
                    <li>
                        <div class="nav-item">
                            <img src="/site/images/icon.png" alt="link icon">
                            <!-- <%= JSON.stringify(year) %> -->
                            <a href="#<%= year.ID %>"><%= year.title %></a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </nav>

            <main>
                <div class="container max-container">
                    <div class="row">
                        <div class="col-xs-12">
                            
                            <% years.forEach(function(year,index){ %>
                                <% year.data = JSON.parse(year.data) %>
                                <div class="curriculem-container" id="<%= year.ID %>">

                                    <script>
                                        var json_<%= index %>
                                        console.log(<%- JSON.stringify(year) %>)
                                    </script>

                                    <% year.data.rows.forEach(function(row){ %>
                                    <div class="curriculem-row">

                                        <% row.forEach(function(column){ %>
                                            
                                            <div class="curriculem-column">
                                                <%
                                                var totalItems = column.column.length
                                                var percentHeight = 100 * 1 / totalItems
                                                %>
                                                <% column.column.forEach(function(item,index){ %>


                                                    <div class="curriculem-item color-<%= getContrast50(item.color) %> <% if(hasContent(item)){ %>item-modal<% } %>" data-id="<%= index %>" style="height:<%= percentHeight %>%;background-color:#<%= item.color %>;">
                                                        <span><%= getExcerpt(item.title) %></span>
                                                        <% if(hasContent(item)){ %><span class="info-icon">i</span><% } %>
                                                    </div>
                                                <% }) %>
                                            </div>

                                        <%}) %>

                                    </div>
                                    <% }) %>

                                </div>
                            <% }) %>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div class="modal hide">
        <div class="overlay"></div>
        <main>
            
        </main>
    </div>

    <!-- SCRIPTS -->
    <!-- <script src="/site/js/jquery.js"></script> -->
    <!-- <script src="/site/js/bootstrap.min.js"></script> -->
    <script src="/site/js/wiquery.js"></script>
    <script src="/site/js/main.js"></script>
    <!-- <script src="/site/js/app.bundle.js"></script> -->

</body>

</html>



<!-- HEAD -->
<%- include ../parts/head.ejs %>

<!-- HEADER -->
<%- include ../parts/header.ejs %>

<!-- MAIN NAV -->
<%- include ../parts/nav.ejs %>

<!-- FOOTER -->
<%- include ../parts/footer.ejs %>

<!-- SCRIPTS -->
<%- include ../parts/scripts.ejs %>

<!-- END -->
<%- include ../parts/end.ejs %>
