<%
function getContrastYIQ(hexcolor){
    var r = parseInt(hexcolor.substr(0,2),16);
    var g = parseInt(hexcolor.substr(2,2),16);
    var b = parseInt(hexcolor.substr(4,2),16);
    var yiq = ((r*299)+(g*587)+(b*114))/1000;
    return (yiq >= 128) ? 'black' : 'white';
}
function getContrast50(hexcolor){
    if(hexcolor){
        return (parseInt(hexcolor, 16) > 0xffffff/2) ? 'black':'white';
    }else{
        return 'black'
    }
}
function getExcerpt(string){
    if(string.length >= 30){
        string = string.slice(0,30) + '...'
    }
    return string
}
function hasContent(item){
    if(typeof item.content === 'undefined') return false
    var content = JSON.parse(item.content)
    if(typeof content.ops === 'undefined') return false

    if(content.ops[0].insert == '\n'){
        return false
    }else{
        return true
    }
}
function catListToArray(string){
    if(string != undefined){
        if(string == 'undefined'){
            return []
        }else{
            var array = string.split('|')
            array.pop()
            return array
        }
    }else{
        return []
    }
}
%>
<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="manifest" href="/manifest.json">

    <title><%= settings.options.application_name %></title>

    <style>*,body,html{box-sizing:border-box}body,html{padding:0;margin:0;height:100%;width:100%}.responsive,.wrapper>nav ul li{max-width:100%;display:block}.text-center{text-align:center}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:1002px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.max-container{max-width:100%}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{margin:0 -15px}.row:after,.wrapper>nav ul li .nav-item:after{content:"";display:table;clear:both}.col-xs-12,[class*=col-]{float:left;padding-right:15px}.col-xs-12{position:relative;min-height:1px;padding-left:15px;width:100%}body{background-color:#333;font-size:14px;font-family:'Open Sans',sans-serif}.color-black{color:#1a1a1a}.color-white{color:#fff}.bg-color-black{background-color:#1a1a1a}.bg-color-white{background-color:#fff}.wrapper{width:100%;padding:0;margin:0}.wrapper>main,.wrapper>nav{min-height:100%;min-height:100vh;width:100%;display:block;float:left}.wrapper>nav{box-shadow:0 0 2px 1px rgba(0,0,0,.15);overflow-y:auto;background-color:#fc0}.wrapper>nav .category_container{display:flex;width:100%;flex-wrap:wrap}.wrapper>nav .category_container li.cat_control{border-top-width:0;flex-basis:25%;border-right:1px solid rgba(0,0,0,.15)}@media screen and (max-width:1649px){.wrapper>nav .category_container li.cat_control{flex-basis:50%}}.wrapper>nav .category_container li.cat_control button{background-color:transparent;border-width:0;display:block;max-width:100%;text-align:center;text-decoration:none;font-size:13px}.wrapper>nav .category_container li.cat_control button span{font-weight:bolder;color:#333}.wrapper>nav .category_container li.cat_control button img{max-width:60%;padding:3px;display:block;margin:0 auto}@media screen and (max-width:1700px){.wrapper>nav .category_container li.cat_control button{font-size:11px}}.wrapper>nav .view-controls{display:block;width:100%;padding:15px;display:flex}@media screen and (max-width:767px){.wrapper>nav .view-controls{display:none!important}}.wrapper>nav .view-controls button{width:40%;display:block;margin:0 auto;background-color:#333;color:#fff;font-weight:700;padding:6px 12px;opacity:1;border:2px solid #333}.wrapper>nav .view-controls button.pressed{opacity:.5}@media screen and (max-width:1001px){.wrapper>nav{left:-100%}}.wrapper .burger-shower{position:fixed;z-index:10000;visibility:hidden}.wrapper .hamburger{width:52px;display:none;position:fixed;z-index:10000;top:15px;right:15px;border:3px solid #333;padding:2px 7px;background-color:#fc0;box-shadow:0 0 2px 1px rgba(0,0,0,.15)}.wrapper .hamburger hr{height:0;border-color:#333;border-width:1.5px;margin-top:5px;margin-bottom:5px}@media screen and (max-width:1001px){.wrapper .hamburger{display:block}}.wrapper>main{background-color:transparent}.wrapper>main .background,.wrapper>main:after{content:'';z-index:-2;background-color:#333;height:100%;width:100%;top:0;bottom:0}.wrapper>main .background{z-index:-1;opacity:.75;background-image:url(/site/images/bg.jpg);background-size:cover;background-position:center;background-attachment:fixed}.modal{position:fixed;z-index:9999;max-height:90vh}.modal .modal-content,.modal .overlay,.wrapper>main .background,.wrapper>main:after{display:block;position:fixed;left:0;right:0}.modal .overlay{z-index:-1;bottom:0;background-color:rgba(0,0,0,.4);overflow:hidden;top:0}.modal .modal-content{padding:1.5em;max-height:70%;max-height:70vh;margin:0 auto;min-height:100px;top:50%;transform:translateY(-50%);max-width:90%;width:40em;background-color:#fff;box-shadow:0 0 2px 1px rgba(0,0,0,.15)}.modal .modal-content button.close-btn{position:absolute;right:-20px;top:-20px;z-index:1019;border-width:0;background-color:rgba(0,0,0,.8);color:#fff;font-size:30px;font-weight:bolder;height:40px;width:40px;border-radius:100%;line-height:30px}.modal .modal-content .content-wrapper{max-height:100%;display:block;width:100%;position:relative;max-height:calc(70vh - 3em);box-sizing:border-box;line-height:inherit;outline:inherit;overflow-y:auto;padding:0;tab-size:4;-moz-tab-size:4;text-align:left;white-space:inherit;word-wrap:break-word}.modal .modal-content .content-wrapper header{background-image:url(/cms/images/noimg.png);background-size:cover;background-position:center;display:block;min-height:200px;position:relative}.modal .modal-content .content-wrapper header h2{color:#fff;background-color:rgba(0,0,0,.75);padding:1em;position:absolute;bottom:0;left:0;right:0;margin:0}.modal .modal-content .content-wrapper .content{padding-top:1.5em}.wrapper>nav .logo{padding:25px 10px 0;margin:0 auto}.wrapper>nav ul{display:block;list-style-type:none;margin:0;padding:0}.wrapper>nav ul li{border-bottom:1px solid rgba(0,0,0,.2);position:relative;background:linear-gradient(to right,rgba(0,0,0,.1) 50%,transparent 50%);background-size:200% 100%;background-position:right bottom}.wrapper>nav ul li:first-child{border-top:1px solid rgba(0,0,0,.2)}.wrapper>nav ul li.active{background-position:left bottom}.wrapper>nav ul li .nav-item{padding-left:15px;padding-right:15px}.wrapper>nav ul li .nav-item img{display:block;max-height:80px;width:auto;max-width:30%;float:left;padding:15px}.wrapper>nav ul li .nav-item a{display:block;text-transform:normal;font-size:1.5em;text-decoration:none;line-height:70px;width:70%;font-weight:100;color:#1a1a1a;float:left}.wrapper>nav ul li .nav-item a:after{display:block;content:'';position:absolute;height:100%;width:100%;left:0;right:0;top:0;bottom:0}@media (max-width:1001px){.wrapper nav{position:fixed;z-index:9999;height:100%;width:100%;max-height:100%;overflow-y:auto}}@media (min-width:1002px){.wrapper nav{width:25%;position:fixed;left:0;top:0;bottom:0}.wrapper>main{width:75%;float:right}}@media (min-width:1200px){.wrapper nav{width:20%}.wrapper>main{width:80%}}.hide{display:none;visibility:hidden}.curriculem-container{padding:10px;min-height:100%;min-height:100vh;flex-wrap:wrap}.curriculem-container .curriculum-inner{display:flex;height:100%;justify-content:center;align-items:flex-start;flex-wrap:wrap}.curriculem-container .curriculem-row{background-color:transparent;padding:5px;border-top:7.5px solid transparent;border-bottom:7.5px solid transparent;flex-basis:100%;width:100%;display:flex}.curriculem-container .curriculem-row .curriculem-column{flex-basis:100%;display:block;padding:0 10px;border-top:7.5px transparent solid;border-bottom:7.5px transparent solid;background-color:#fff}.curriculem-container .curriculem-row .curriculem-column .curriculem-item{display:block;padding:10px;border-top:2.5px solid #fff;border-bottom:2.5px solid #fff;position:relative}.curriculem-container .curriculem-row .curriculem-column .curriculem-item .info-icon{border-width:0;position:absolute;opacity:.5;display:block;color:#1a1a1a;font-family:serif;font-weight:700;border-radius:100%;height:15px;width:15px;text-align:center;right:10px;top:10px;font-size:14px;line-height:14px}.curriculem-container .curriculum-header{display:block;padding:5px}.curriculem-container .curriculum-header .header-inner{max-width:50%;background-color:#fff;padding:1.5em}@media screen and (max-width:1649px){.curriculem-container .curriculum-header .header-inner{max-width:75%}}@media screen and (max-width:1001px){.curriculem-container .curriculum-header .header-inner{max-width:100%}}.curriculem-container .curriculum-header h2,.curriculem-container .curriculum-header p{margin:0}.curriculem-container .curriculum-header h2{margin-bottom:10px}@media screen and (max-width:767px){.curriculem-container{height:auto;min-height:0;padding-bottom:15px}.curriculem-container .curriculum-header{margin-bottom:0;padding-bottom:0;border-bottom-width:0;padding-top:10px}.curriculem-container .curriculem-row{flex-wrap:wrap;padding-bottom:0;border-bottom-width:0}.curriculem-container .curriculem-row .curriculem-item{flex-basis:100%!important}}</style>

    <meta name="theme-color" content="#333">
    <link rel="stylesheet" href="/cms/css/quill.snow.css" />
    <link href="/site/css/main.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-106197743-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>

<body class="<% if(slider.length > 0){ %>slider-view<% } %>">

    <div class="offline">
        <span></span>
    </div>

    <div class="wrapper">

        <input type="checkbox" id="burger-shower" class="burger-shower">
        <label for="burger-shower" class="hamburger">
            <hr>
            <hr>
            <hr>
        </label>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="<%= settings.options.application_logo %>" alt="cmd logo" class="responsive logo">
                        <h1 class="text-center"><%= settings.options.application_name %></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="view-controls">
                            <button class="view-button" data-view="list">LIST</button> | <button class="view-button pressed" data-view="table">TABLE</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                <ul>
                    <% years.forEach(function(year,index){ %>
                    <% if(year.active == 'false') return; %>
                    <% //if(year.data === null) return; %>
                    <li id="menu_item_<%= year.ID %>" class="menu-item">
                        <div class="nav-item">
                            <% if(year.path == 'false'){ %>
                                <img src="/site/images/icon.png" alt="link icon">
                            <% }else{ %>
                                <img src="/uploads/curriculum/<%= year.path %>" alt="link icon">
                            <% } %>
                            <a href="#year_container_<%= year.ID %>" title="link to year <%= year.title %>"><%= year.title %></a>
                        </div>
                    </li>
                    <% }) %>
                    <li id="menu_item_legenda" class="menu-item">
                        <div class="nav-item">
                            <img src="/site/images/sign.png" alt="link icon">
                            <a href="#year_container_legenda" title="Bekijk LEGENDA">LEGENDA</a>
                        </div>
                    </li>
                    <li id="backtocmd" class="menu-item back-to-cmd">
                        <div class="nav-item">
                            <img src="/site/images/confirm.png" alt="link icon">
                            <a href="https://www.cmd-amsterdam.nl" title="Terug naar cmd">CMD WEBSITE</a>
                        </div>
                    </li>
                </ul>
                <ul class="category_container">
                    <li class="cat_control active" data-cat="all">
                        <button>
                            <img src="/site/images/enter.png" alt="only make all visible">
                            <span>Alles</span>
                        </button>
                    </li>
                    <li class="cat_control" data-cat="code">
                        <button>
                            <img src="/site/images/code.png" alt="only make code visible">
                            <span>Code</span>
                        </button>
                    </li>
                    <li class="cat_control" data-cat="design">
                        <button>
                            <img src="/site/images/design.png" alt="only make design visible">
                            <span>Design</span>
                        </button>
                    </li>
                    <li class="cat_control" data-cat="interaction">
                        <button>
                            <img src="/site/images/interaction.png" alt="only make interaction visible">
                            <span>Interaction</span>
                        </button>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <main>
            <div class="background" style="background-image: url('<%= settings.options.background_image %>');"></div>
            <div class="container max-container">
                <div class="row">
                    <div class="col-xs-12 curriculem-wrapper">
                        
                        <% years.forEach(function(year,indexYear){ %>
                            <% if(year.data === null) return; %>
                            <% if(year.active == 'false') return; %>
                            <% year.data = JSON.parse(year.data) %>
                            <div class="curriculem-container" id="year_container_<%= year.ID %>">

                                <div class="curriculum-inner">
                                    <div class="curriculem-row curriculum-header">
                                        <div class="header-inner">
                                            <h2><%= year.title %></h2>
                                            <p><%= year.description %></p>
                                        </div>
                                    </div>

                                    <% year.data.rows.forEach(function(row,indexRow){ %>
                                    <div class="curriculem-row">


                                        <% row.forEach(function(column,indexColumn){ %>
                                            
                                            <div class="curriculem-column" style="<% if(column.flexBasis != 'undefined'){ %>flex-basis:<%= column.flexBasis %>%;<% } %>">
                                                <%
                                                var totalItems = column.column.length
                                                var percentHeight = 100 * 1 / totalItems
                                                %>
                                                <% column.column.forEach(function(item,indexItem){ %>
                                                    <!-- height:<%= percentHeight %>%; -->

                                                    <%
                                                    var cats = catListToArray(item.category)
                                                    var labelClasses = ' '
                                                    cats.forEach(function(cat){
                                                        labelClasses = labelClasses + ' cat_' + cat
                                                    })
                                                    %>

                                                    <div class="<% if(item.extendBlock == 'true'){ %>hide-xs<% } %> curriculem-item color-<%= getContrast50(item.color) %> <% if(hasContent(item)){ %>item-modal<% } %> <% if(item.title.length < 1){ %>empty-curriculem-item<% } %> <%= labelClasses %>" data-id="<%= (indexYear + '-' + indexRow + '-' + indexColumn + '-' +  indexItem) %>" style="background-color:#<%= item.color %>;">
                                                        <% if(item.extendBlock == 'true'){ %>
                                                            <span class="extend" style="background-color:#<%= item.color %>;"></span>
                                                        <% } %>
                                                        <span><%= getExcerpt(item.title) %></span>
                                                        <% if(hasContent(item)){ %><button class="info-icon bg-color-<%= getContrast50(item.color) %>" title="curriculum item <%= getExcerpt(item.title) %>" name="curriculum item <%= getExcerpt(item.title) %>" style="color:#<%= item.color %>;">i</button><% } %>
                                                    </div>
                                                <% }) %>
                                            </div>

                                        <%}) %>

                                    </div>
                                    <% }) %>

                                </div>
                            </div>
                        <% }) %>

                        <!-- LEGENDA -->
                        <div class="curriculem-container" id="year_container_legenda">
                            <div class="curriculum-inner">
                                <div class="curriculem-row curriculum-header">
                                    <div class="header-inner">
                                        <h2>Legenda</h2>
                                        <ul class="types_explanation">
                                            <% types.forEach(function(type){ %>
                                                <li class="color-<%= getContrast50(type.color) %>" style="background-color:#<%= type.color %>;"><%= type.title %></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <% if(slider.length > 0){ %>
                                    <div class="header-inner">
                                        <h2>Bekijk curriculum</h2>
                                        <div id="qrcode"></div>
                                        <span class="set-site-url" href="#" title="website link"></span>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <% if(slider.length > 0){ %>
            <div class="slider-container">
                <div class="slider-bar">
                    <a class="hide-slides" alt="Bekijk curriculum">Bekijk curriculum online</a>
                </div>
                <ul id="slides">
                    <!-- <li class="slide showing">Slide 1</li> -->
                    <% slider.forEach(function(slide,index){ %>
                        <% if(slide.active == 'true'){ %>
                            <li class="slide" style="background-image:url('/uploads/slider/<%= slide.path %>');"></li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>
            <% } %>

        </main>
    </div>

    <div class="modal hide">
        <div class="overlay"></div>
        <div class="modal-content">
            <button class="close-btn close-modal" title="close modal" >&times;</button>
            <div class="content-wrapper ql-editor">
                <header>
                    <h2>Modal title</h2>
                </header>
                <div class="content"></div>
            </div>
        </div>
    </div>

    <script>
        var years = <%- JSON.stringify(years) %>
        var types = <%- JSON.stringify(types) %>
        <% if(slider.length > 0){ %>
        var sliderTimeout =  Number('<%= settings.options.slider_activity %>')
        var slideActive = true
        <% }else{ %>
        var slideActive = false
        <% } %>
    </script>

    <!-- SCRIPTS -->

    <script src="/site/js/quill.js"></script>
    <script src="/site/js/qr.js"></script>
    <script src="/site/js/smoothscroll.js"></script>
    <script src="/site/js/wiquery.js"></script>
    <script src="/site/js/main.js"></script>

</body>

</html>