<%
function getContrastYIQ(hexcolor){
    var r = parseInt(hexcolor.substr(0,2),16);
    var g = parseInt(hexcolor.substr(2,2),16);
    var b = parseInt(hexcolor.substr(4,2),16);
    var yiq = ((r*299)+(g*587)+(b*114))/1000;
    return (yiq >= 128) ? 'black' : 'white';
}
function getContrast50(hexcolor){
    if(hexcolor){
        return (parseInt(hexcolor, 16) > 0xffffff/2) ? 'black':'white';
    }else{
        return 'black'
    }
}
function getExcerpt(string){
    if(string.length >= 30){
        string = string.slice(0,30) + '...'
    }
    return string
}
function hasContent(item){
    if(typeof item.content === 'undefined') return false
    var content = JSON.parse(item.content)
    if(typeof content.ops === 'undefined') return false

    if(content.ops[0].insert == '\n'){
        return false
    }else{
        return true
    }
}
function catListToArray(string){
    if(string != undefined){
        if(string == 'undefined'){
            return []
        }else{
            var array = string.split('|')
            array.pop()
            return array
        }
    }else{
        return []
    }
}
%>
<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="manifest" href="/manifest.json">

    <title><%= settings.options.application_name %></title>


    <meta name="theme-color" content="#333">
    <link rel="stylesheet" href="/cms/css/quill.snow.css" />
    <link href="/site/css/main.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-106197743-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>

<body class="<% if(slider.length > 0){ %>slider-view<% } %>">

    <div class="offline">
        <span></span>
    </div>

    <div class="wrapper">

        <input type="checkbox" id="burger-shower" class="burger-shower">
        <label for="burger-shower" class="hamburger">
            <hr>
            <hr>
            <hr>
        </label>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="<%= settings.options.application_logo %>" alt="cmd logo" class="responsive logo">
                        <h1 class="text-center"><%= settings.options.application_name %></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="view-controls">
                            <button class="view-button" data-view="list">LIST</button> | <button class="view-button pressed" data-view="table">TABLE</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                <ul>
                    <% years.forEach(function(year,index){ %>
                    <% if(year.active == 'false') return; %>
                    <% //if(year.data === null) return; %>
                    <li id="menu_item_<%= year.ID %>" class="menu-item">
                        <div class="nav-item">
                            <% if(year.path == 'false'){ %>
                                <img src="/site/images/icon.png" alt="link icon">
                            <% }else{ %>
                                <img src="/uploads/curriculum/<%= year.path %>" alt="link icon">
                            <% } %>
                            <a href="#year_container_<%= year.ID %>" title="link to year <%= year.title %>"><%= year.title %></a>
                        </div>
                    </li>
                    <% }) %>
                    <li id="menu_item_legenda" class="menu-item show-sm">
                        <div class="nav-item">
                            <img src="/site/images/sign.png" alt="link icon">
                            <a href="#year_container_legenda" title="Bekijk LEGENDA">LEGENDA</a>
                        </div>
                    </li>
                    <li id="backtocmd" class="menu-item back-to-cmd">
                        <div class="nav-item">
                            <img src="/site/images/confirm.png" alt="link icon">
                            <a href="https://www.cmd-amsterdam.nl" title="Terug naar cmd">CMD WEBSITE</a>
                        </div>
                    </li>
                </ul>
                <ul class="category_container">
                    <li class="cat_control active" data-cat="all">
                        <button>
                            <img src="/site/images/enter.png" alt="only make all visible">
                            <span>Alles</span>
                        </button>
                    </li>
                    <li class="cat_control" data-cat="team">
                        <button>
                            <img src="/site/images/code.png" alt="only make code visible">
                            <span>Team</span>
                        </button>
                    </li>
                    <li class="cat_control" data-cat="individueel">
                        <button>
                            <img src="/site/images/design.png" alt="only make design visible">
                            <span>Individueel</span>
                        </button>
                    </li>
                    <!-- <li class="cat_control" data-cat="interaction">
                        <button>
                            <img src="/site/images/interaction.png" alt="only make interaction visible">
                            <span>Interaction</span>
                        </button>
                    </li> -->
                </ul>
                <div class="nav_legenda">
                    <p class="text-center"><strong>Legenda</strong></p>
                    <div class="nav_legende_list">
                        <% types.forEach(function(type){ %>
                            <% if(type.active == 'true'){ %>
                            <div class="legenda-item color-<%= getContrast50(type.color) %>" style="background-color:#<%= type.color %>;"><%= type.title %></div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="background" style="background-image: url('<%= settings.options.background_image %>');"></div>
            <div class="container max-container">
                <div class="row">
                    <div class="col-xs-12 curriculem-wrapper">
                        
                        <% years.forEach(function(year,indexYear){ %>
                            <% if(year.data === null) return; %>
                            <% if(year.active == 'false') return; %>
                            <% year.data = JSON.parse(year.data) %>
                            <div class="curriculem-container" id="year_container_<%= year.ID %>">

                                <div class="curriculum-inner">
                                    <div class="curriculem-row curriculum-header open-year-info" year-id="<%= year.ID %>">
                                        <div class="header-inner">
                                            <h2><%= year.title %> <button class="info-button">i</button></h2>
                                        </div>
                                    </div>

                                    <% year.data.rows.forEach(function(row,indexRow){ %>
                                    <div class="curriculem-row">


                                        <% row.forEach(function(column,indexColumn){ %>
                                            
                                            <div class="curriculem-column" style="<% if(column.flexBasis != 'undefined'){ %>flex-basis:<%= column.flexBasis %>%;<% } %>">
                                                <%
                                                var totalItems = column.column.length
                                                var percentHeight = 100 * 1 / totalItems
                                                %>
                                                <% column.column.forEach(function(item,indexItem){ %>

                                                    <%
                                                    var cats = catListToArray(item.category)
                                                    var labelClasses = ' '
                                                    cats.forEach(function(cat){
                                                        labelClasses = labelClasses + ' cat_' + cat
                                                    })
                                                    %>

                                                    <div class="<% if(item.extendBlock == 'true'){ %>extend<% } %> <% if(item.showXs == 'true'){ %>hide-xs<% } %> curriculem-item color-<%= getContrast50(item.color) %> <% if(hasContent(item)){ %>item-modal<% } %> <% if(item.title.length < 1){ %>empty-curriculem-item<% } %> <%= labelClasses %>" data-id="<%= (indexYear + '-' + indexRow + '-' + indexColumn + '-' +  indexItem) %>" style="background-color:#<%= item.color %>;">
                                                        <div class="item-inner" style="background-color:#<%= item.color %>;">
                                                            <% if(item.extendBlock == 'true'){ %>
                                                                <!-- <span class="extend" style="background-color:#<%= item.color %>;"></span> -->
                                                            <% } %>

                                                            <% if(item.extendBlock == 'true'){ %>
                                                            <span class="hide-xs"><%= item.title %></span>
                                                            <span class="show-sm"><%= getExcerpt(item.title) %></span>
                                                            <% } else { %>
                                                            <span><%= getExcerpt(item.title) %></span>
                                                            <% } %>

                                                            <% if(hasContent(item)){ %><button class="info-icon bg-color-<%= getContrast50(item.color) %>" title="curriculum item <%= getExcerpt(item.title) %>" name="curriculum item <%= getExcerpt(item.title) %>" style="color:#<%= item.color %>;">i</button><% } %>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                            </div>

                                        <%}) %>

                                    </div>
                                    <% }) %>

                                </div>
                            </div>
                        <% }) %>

                        <!-- LEGENDA -->
                        <div class="curriculem-container show-sm" id="year_container_legenda">
                            <div class="curriculum-inner">
                                <div class="curriculem-row curriculum-header">
                                    <div class="header-inner">
                                        <h2>Legenda</h2>
                                        <ul class="types_explanation">
                                            <% types.forEach(function(type){ %>
                                                <% if(type.active == 'true'){ %>
                                                <li class="color-<%= getContrast50(type.color) %>" style="background-color:#<%= type.color %>;"><%= type.title %></li>
                                                <% } %>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <% if(slider.length > 0){ %>
                                    <div class="header-inner">
                                        <h2>Bekijk curriculum</h2>
                                        <div id="qrcode"></div>
                                        <span class="set-site-url" href="#" title="website link"></span>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <% if(slider.length > 0){ %>
            <div class="slider-container">
                <div class="slider-bar">
                    <a class="hide-slides" alt="Bekijk curriculum">Bekijk curriculum online</a>
                </div>
                <ul id="slides">
                    <!-- <li class="slide showing">Slide 1</li> -->
                    <% slider.forEach(function(slide,index){ %>
                        <% if(slide.active == 'true'){ %>
                            <li class="slide" style="background-image:url('/uploads/slider/<%= slide.path %>');"></li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>
            <% } %>

        </main>
    </div>

    <div class="modal item_modal hide">
        <div class="overlay"></div>
        <div class="modal-content">
            <button class="close-btn close-modal" title="close modal" >&times;</button>
            <div class="content-wrapper ql-editor">
                <header>
                    <h2>Modal title</h2>
                </header>
                <div class="content"></div>
            </div>
        </div>
    </div>

    <% years.forEach(function(year,indexYear){ %>
    <div class="modal hide modal_year_<%= year.ID %>" id="modal_year_<%= year.ID %>">
        <div class="overlay"></div>
        <div class="modal-content">
            <button class="close-btn close-modal" title="close modal" >&times;</button>
            <div class="content-wrapper ql-editor">
                <img src="/uploads/curriculum/<%= year.path %>" alt="jaar icoon" class="year-modal-icon">
                <h2><%= year.title %></h2>
                <div class="content">
                    <p><%- year.description %></p>
                </div>
            </div>
        </div>
    </div>
    <% }) %>

    <script>
        var years = <%- JSON.stringify(years) %>
        var types = <%- JSON.stringify(types) %>
        <% if(slider.length > 0){ %>
        var sliderTimeout =  Number('<%= settings.options.slider_activity %>')
        var slideActive = true
        <% }else{ %>
        var slideActive = false
        <% } %>
    </script>

    <!-- SCRIPTS -->

    <script src="/site/js/quill.js"></script>
    <script src="/site/js/qr.js"></script>
    <script src="/site/js/smoothscroll.js"></script>
    <script src="/site/js/wiquery.js"></script>
    <script src="/site/js/main.js"></script>

</body>

</html>